@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --blue: #3a54b4;
  --beige: #fef7ed;
  --white: #ffffff;
  --focus: #1a2df3;
  --invalid: #ff4040;
  --nav-active: #ff8b7b;
  --nav-item: #fef7ed;
  --button-hover: #8896cd;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Work Sans', sans-serif;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--blue);
}

header,
section,
footer {
  padding-inline: 1.9rem;
}

.button {
  background-color: var(--blue);
  padding: 1.1rem 4.6rem;

  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--blue);
}

a.active,
a:hover:not(.button) {
  color: var(--nav-active);
}

/* ========== OPEN CLOSE MENU ========== */

.openCloseMenu > *:not(header),
.openCloseMenu header .wrapper > *:not(button) {
  display: none;
}

.openCloseMenu header {
  background-color: var(--blue);
}

.openCloseMenu header .wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 3.4rem;
}

.openCloseMenu header .wrapper nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.openCloseMenu header .wrapper nav a {
  padding: 1rem 2rem;

  font-size: 3.1rem;
  font-weight: 300;
  line-height: 4.34rem;
  letter-spacing: 0.2rem;
  color: var(--nav-item);
}

.openCloseMenu header .wrapper nav a.active {
  color: var(--nav-active);
}

.openCloseMenu header .wrapper button svg {
  stroke: var(--nav-item) !important;
}

.openCloseMenu header .wrapper button svg line:nth-of-type(1) {
  animation-name: closeline1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  transform-origin: 50% 0;
}

.openCloseMenu header .wrapper button svg line:nth-of-type(2) {
  animation-name: closeline2;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  transform-origin: 50% 0;
}

.openCloseMenu header .wrapper button svg line:nth-of-type(3) {
  animation-name: closeline3;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  transform-origin: 50% 0;
}

@keyframes closeline1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(50%) rotate(45deg);
  }
}

@keyframes closeline2 {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(50%) rotate(-45deg);
  }
}

@keyframes closeline3 {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(50%) rotateX(90deg);
  }
}

/* ========== HEADER ========== */

header {
  background-color: var(--beige);
  padding-top: 3.3rem;
}

header .wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 1.6rem;
}

header h1 a {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  font-size: 2.3rem;
  font-weight: 700;
  color: var(--blue);
}

header h1 svg {
  width: 2rem;
  height: 2.5rem;
  fill: var(--blue);
}

header nav {
  display: none;
}

header button {
  background-color: transparent;
  border: none;
  text-align: right;
}

header button svg line {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  transform-origin: 50% 0;
}

header button svg line:nth-of-type(1) {
  transform: translateY(0);
  animation-name: line1;
}

header button svg line:nth-of-type(2) {
  transform: translateY(50%);
  animation-name: line2;
}

header button svg line:nth-of-type(3) {
  transform: translateY(100%);
  animation-name: line3;
}

@keyframes line1 {
  0% {
    transform: translateY(50%) rotate(45deg);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes line2 {
  0% {
    transform: translateY(50%) rotate(-45deg);
  }

  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes line3 {
  0% {
    transform: translateY(50%) rotateX(90deg);
  }
  100% {
    transform: translateY(50%);
  }
}

header .button {
  grid-column: 1 / -1;
  width: 100%;
}

/* ========== INTRO ========== */

#intro {
  background-color: var(--beige);
  padding-top: 4.2rem;
  padding-bottom: 3.1rem;
  margin-bottom: 4rem;
}

#intro .wrapper {
  text-align: center;
}

#intro h1 {
  font-size: 8.7rem;
  font-weight: 700;
  line-height: 6.96rem;
  margin-bottom: 1.3rem;
}

#intro p {
  font-size: 2.1rem;
  font-weight: 300;
  margin-bottom: 2.7rem;
}

#intro img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  margin-bottom: 2.3rem;
}

#intro .button {
  display: block;
  width: 100%;
}

/* ========== SOBRE MIM ========== */

#about {
  margin-bottom: 6.1rem;
}

#about article:first-of-type {
  text-align: center;
}

#about img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

#about h2 {
  font-size: 3.7rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#about p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.16rem;
  letter-spacing: 0.048rem;
  margin-bottom: 3rem;
}

/* ========== SERVIÇOS ========== */

#services {
  margin-bottom: 7.9rem;
}

#services h2 {
  text-align: center;
  font-size: 3.7rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

#services .cardContainter {
  display: flex;
  flex-flow: row wrap;
  gap: 7.1rem;
  justify-content: center;
}

#services .card {
  max-width: 24rem;
  text-align: center;
}

#services img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  margin-bottom: 1.1rem;
}

#services h3 {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 1.3rem;
}

#services p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.16rem;
  letter-spacing: 0.048rem;
  margin-bottom: 3.2rem;
}

/* ========== CLIENTES ========== */

#clients {
  text-align: center;
  padding-inline: 0;
  margin-bottom: 5.2rem;
}

#clients h2 {
  font-size: 3.7rem;
  font-weight: 700;
  padding-inline: 1.9rem;
  margin-bottom: 2rem;
}

#clients article:last-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

#clients img {
  width: 100vw;
  max-width: 48.8rem;
  max-height: 36.5rem;
}

/* ========== DONOS ========== */

#owners {
  text-align: center;
  margin-bottom: 4.5rem;
}

#owners h2 {
  font-size: 3.7rem;
  font-weight: 700;
  margin-bottom: 5.6rem;
}

#owners .cardContainter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

#owners .card {
  max-width: 32rem;
}

#owners h3 {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

#owners p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.04rem;
  letter-spacing: 0.048rem;
  margin-bottom: 1rem;
}

#owners .author {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

/* ========== CONTATO ========== */

#contact {
  position: relative;
  background-color: var(--blue);
  text-align: center;
  color: var(--white);
  padding-top: 3rem;
  padding-bottom: 5.7rem;
}

#contact h2 {
  font-size: 3.7rem;
  font-weight: 700;
  margin-bottom: 3.6rem;
}

#contact .cardContainter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3.3rem;
  margin-bottom: 2rem;
}

#contact .card {
  width: 100%;
  max-width: 18.6rem;
}

#contact h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

#contact p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.04rem;
  letter-spacing: 0.084rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 4.9rem;
}

#contact input,
#contact textarea {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.1rem;
  color: var(--white);

  width: 100%;
  height: 4rem;
  background-color: transparent;

  border: none;
  border-bottom: 1px solid var(--white);

  padding: 0.3rem 0.5rem;
}

#contact textarea {
  height: 12.3rem;
  padding: 1.125rem 0.5rem 0.3rem 0.5rem;
}

#contact input:focus,
#contact textarea:focus,
#contact input:hover,
#contact textarea:hover {
  outline: none;
  border-bottom: 1px solid var(--focus);
}

#contact input:invalid {
  border-bottom: 2px solid var(--invalid);
}

#contact input::placeholder,
#contact textarea::placeholder {
  color: var(--white);
}

#contact button {
  width: 100%;
  background-color: transparent;

  border: none;

  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.96rem;
  color: var(--white);

  padding: 1.1rem 4rem;
}

#contact nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.1rem;
}

#contact nav img {
  width: 2rem;
  height: 2rem;
}

#contact article:last-of-type {
  text-align: left;
  margin-left: -1.9rem;
}

#contact article:last-of-type img {
  width: 19.4rem;
  height: 10.5rem;
}

/* ========== FOOTER ========== */

footer {
  position: absolute;
  bottom: 0.9rem;
  left: 0;

  display: grid;
  place-items: center;

  background-color: var(--white);
  height: 5.2rem;
  width: 100%;

  color: var(--blue);
}

footer p {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.033rem;
}

/* ========== CHAT ========== */

#chat {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  border-radius: 50%;

  padding: 0;
}

#chat a:first-of-type {
  display: grid;
  place-items: center;
  width: 5rem;
  height: 5rem;

  border-radius: 50%;
  background-color: var(--blue);
  box-shadow: 0px 1px 4px 0px #00000099;
}

#chat a svg {
  width: 3.2rem;
  height: 3.2rem;
}

#chat a:last-of-type {
  display: none;
}

@media (min-width: 1024px) {
  .button {
    padding: 1rem 2.1rem;
  }

  /* ========== HEADER ========== */

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    padding-top: 0;
    padding-inline: 8rem;
  }

  header .wrapper {
    max-width: 1440px;
    height: 10.5rem;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 2.5rem;
    row-gap: 0;
    margin-inline: auto;
  }

  header h1 a {
    font-size: 2.5rem;
  }

  header button {
    display: none;
  }

  header nav {
    justify-self: end;
    display: flex;
    gap: 2.7rem;
  }

  header a.button {
    grid-column: 3;
    width: fit-content;
  }

  /* ========== INTRO ========== */

  #intro {
    padding-top: 22.2rem;
    padding-bottom: 13.6rem;
    padding-inline: 4.4rem;
  }

  #intro .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    max-width: 980px;
    margin-inline: auto;
  }

  #intro article:nth-of-type(1) {
    align-self: flex-end;
  }

  #intro article:nth-of-type(2) {
    grid-column: 2;
    grid-row: 1/3;
  }

  #intro h1 {
    font-size: 15rem;
    line-height: 12rem;
    margin-bottom: 2.7rem;
  }

  #intro p {
    font-size: 3.1rem;
    margin-bottom: 3rem;
  }

  #intro img {
    width: 47.9rem;
    height: 47.9rem;
  }

  #intro .button {
    width: fit-content;
  }

  /* ========== SOBRE MIM ========== */

  #about {
    padding-top: 9.5rem;
    padding-inline: 5.4rem;
    margin-bottom: 16rem;
  }

  #about .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 9rem;
    max-width: 980px;
    margin-inline: auto;
  }

  #about img {
    width: 41.9rem;
    height: 41rem;
  }

  #about h2 {
    font-size: 6.2rem;
    margin-bottom: 3.6rem;
  }

  #about p {
    font-size: 1.4rem;
    line-height: 2.52rem;
    margin-bottom: 4.3rem;
  }

  #about a.button {
    padding: 1rem 3.7rem;
  }

  /* ========== SERVIÇOS ========== */

  #services {
    margin-bottom: 14.2rem;
  }

  #services h2 {
    font-size: 6.2rem;
    margin-bottom: 8.2rem;
  }

  #services .cardContainter {
    gap: 9rem;
  }

  #services img {
    width: 23rem;
    height: 23rem;
    margin-bottom: 2rem;
  }

  #services h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  #services p {
    font-size: 1.4rem;
    line-height: 2.52rem;
    margin-bottom: 4.6rem;
  }

  #services a.button {
    padding: 1rem 3.4rem;
  }

  /* ========== CLIENTES ========== */

  #clients {
    padding-inline: 8rem;
    margin-bottom: 10.5rem;
  }

  #clients .wrapper {
    max-width: 1400px;
    margin-inline: auto;
  }

  #clients h2 {
    font-size: 6.2rem;
    margin-bottom: 8.7rem;
  }

  #clients article:last-of-type {
    gap: 2rem;
  }

  #clients img {
    width: 31.7%;
  }

  /* ========== DONOS ========== */

  #owner {
    padding-inline: 1rem;
  }

  #owners h2 {
    font-size: 6.2rem;
    margin-bottom: 11rem;
  }

  #owners .cardContainter {
    gap: 1.2rem;
  }

  #owners h3 {
    font-size: 3rem;
    margin-bottom: 2.8rem;
  }

  #owners p {
    font-size: 1.4rem;
    line-height: 2.38rem;
    margin-bottom: 3.7rem;
  }

  #owners .author {
    font-size: 1.5rem;
  }

  /* ========== CONTATO ========== */

  #contact {
    padding-top: 7.3rem;
    padding-inline: 10rem;
    padding-bottom: 5.6rem;
  }

  #contact .wrapper {
    max-width: 980px;
    margin-inline: auto;
  }

  #contact h2 {
    font-size: 6.2rem;
    margin-bottom: 6.7rem;
  }

  #contact .cardContainter {
    align-items: flex-start;
    gap: 1.7rem;
    margin-bottom: 5rem;
  }

  #contact .card {
    width: 18.3rem;
  }

  #contact h3 {
    font-size: 1.5rem;
  }

  #contact p {
    font-size: 1.4rem;
    line-height: 2.38rem;
    letter-spacing: 0.098rem;
  }

  #contact form {
    display: grid;
    grid-template-areas:
      'name email'
      'subject subject'
      'message message'
      'submit submit';
    margin-bottom: 7.4rem;
  }

  #contact input[name='name'] {
    grid-area: name;
  }

  #contact input[name='email'] {
    grid-area: email;
  }

  #contact input[name='subject'] {
    grid-area: subject;
  }

  #contact textarea {
    grid-area: message;
  }

  #contact button {
    grid-area: submit;
    justify-self: center;
    transition: background-color 0.4s ease 0s;
  }

  #contact button:hover {
    background-color: var(--button-hover);
  }

  #contact nav {
    gap: 2.5rem;
  }

  #contact nav img {
    width: 2.7rem;
    height: 2.7rem;
  }

  #contact article:last-of-type img {
    width: 28.9rem;
    height: 15.7rem;
    margin-top: -10rem;
  }

  /* ========== FOOTER ========== */

  footer {
    bottom: 0;
    height: auto;
  }

  footer p {
    font-size: 1.2rem;
    letter-spacing: 0.036rem;
    margin-block: 1.8rem;
  }

  /* ========== CHAT ========== */

  #chat {
    bottom: 4rem;
    right: 2rem;
    border-radius: .8rem;
  }

  #chat a:first-of-type {
    display: none;
  }

  #chat a:last-of-type {
    display: initial;
    height: 5.6rem;
    padding: 1.7rem 2rem;

    border-radius: .8rem;
    background-color: var(--blue);
    box-shadow: 0px 1px 4px 0px #00000099;

    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
  }
}
